
.expenses{
    padding: 1rem;
    margin: 1rem auto;
    width: 50rem;
    max-width: 95%;
    background-color: rgb(31, 31, 31);
    font-size: medium;
}


.expense_filter{
    color: white;
    margin: 1rem auto;
}

.expense_filter select{
    float: right;
    padding: 0.9rem 3.5rem;
    border-radius: 8px;
}