.formContainer{
    padding: 1rem;
    margin: 1rem auto;
    width: 50rem;
    max-width: 95%;
    border: 1px solid #ececec;
    background-color: #2a2a2a;
    color: white;    
}

.addNewExpenseBtn{
    padding: 0.8rem 0.5rem;
    border-radius: 8px;
    background-color: rgb(99, 18, 146);
    color: white;
    width: 10rem;
    font-size: medium;
    display: block;
    margin: 0 auto;
}

.expenseForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.expenseForm input{
    width: 90%;
    height: 2rem;
    padding: 1.4rem 1rem;
    border-radius: 8px;
    font-size: medium;
}

.buttonGroup{
    display: flex;
    gap: 0.1rem;
    margin-top: 0.8rem;
    margin-right: 5%;
    gap: 1rem;
    justify-content: flex-end;
}

.buttonGroup button{
    padding: 0.8rem 0.5rem;
    border-radius: 8px;
    background-color: rgb(23, 78, 196);
    color: white;
    width: 10rem;
    font-size: small;
}


@media (min-width: 850px) {
    .expenseForm {
      flex-direction: row;
    }
    .buttonGroup button{
        font-size: medium;
    }
    .buttonGroup{
        margin-right: 0;
    }
  }